<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User2</title>
</head>
<body>
    <a href="addUser"><button>Them</button></a>
    <table border="1">
        <tr>
            <th>EnableFCM</th>
            <th>Avatar</th>
            <th>Banner</th>
            <th>Fullname</th>
            <th>TypeUser</th>
            <th>IdProvince</th>
            <th>Action</th>
        </tr>
        <% datas.forEach(item => { %>
            <tr>
                <td><%= item.EnableFCM %></td>
                <td><%= item.Avatar %></td>
                <td><%= item.Banner %></td>
                <td><%= item.Fullname %></td>
                <td><%= item.TypeUser %></td>
                <td><%= item.IdProvince %></td>
                <td><a href="form_update/<%= item.id %>">Update</a> <a href="delete/<%= item.id %>">Delete</a></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>